extends layout

block content
  h1 Compress Your Javascript

  form(method='post', action='/')
    p.left Paste your code and compress it.
    p.chars.right 0
    textarea#input(name='content')
      if (typeof input !== "undefined")
        = input
    button(type='submit') Compress

  if (typeof output !== "undefined")
    section#result
      p#stats.left Saved 0%
      p.chars.right 0
      textarea#output= output
