extends layout

block content
  section#container
    h1 Compress Your Javascript

    form(method='post')
      p.left Paste your code and compress it.
      p.chars.right 0
      textarea#content
      button(type='submit') Compress

    footer by 
      a(href='http://dab.io') dab.io
